*{margin:0px}
body{height:100vh;display:grid;grid-template-columns:70% 30%;}
#left{display:grid;grid-template-rows:70% 30%;}
#ll-area{background-color:grey;display:flex;flex-direction:row;white-space:nowrap;align-items:center;overflow-x:auto;padding:80px;}
#functions{background-color:blue;}
.node{height:80px;min-width:150px;border-radius:5px;border:4px solid black;display:grid;grid-template-columns:1.51fr 0.09fr 1.30fr;align-items:center;margin:10px;flex-shrink:0}
.nodeinfo{display:flex;justify-content:center;align-items:center;width:100%;height:100%;font-size:18px;font-family:Verdana;text-align:center;}
.data{background-color:orange;}
.sep{background-color:black;}
.ptr{background-color:white;}
.node.justCreated{
  animation: appear 0.7s forwards;
}
@keyframes appear{
0% {
    opacity: 0;
    transform: translateX(-20px) scale(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}